body {
    font-weight: 400;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}

pre, code {
    border: none;
    border-radius: 0;
    background-color: #f9f9f9;
    font-size: 0.85em;
}

pre {
    font-size: 1em;
}

code {
    color: inherit;
}

#header {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

#header a:hover {
    text-decoration: none;
}

#footer {
    margin: 20px 0;
    font-size: 0.85em;
    color: #999;
    text-align: center;
}

#content > .page-header:first-child {
    margin-top: 0;
}

#content > .page-header:first-child h2 {
    margin-top: 0;
}


#navigation {
    font-size: 0.9em;
}

#navigation li a {
    padding-left: 10px;
    padding-right: 10px;
}

#navigation .nav-header {
    padding-left: 0;
    padding-right: 0;
}

/* new stuff */

.team-profile {
    clear: both;
}

.team-profile img {
    width: 150px;
    height: 150px;
    float: left;
}

img {
    width: 500px;
}

a img {
    padding: 2px;
    border: 1px solid #eee;
}

a:hover img {
    padding: 2px;
    border: 1px solid #ccc;
}
